<?xml version="1.0"?>
<launch>

  <param name="human" command="cat '$(find robody_sim)/urdf/human.urdf'"/>
  
  <arg name="x" default="2"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.5"/>

  <node name="human_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -model XSensStyleModel_template -x $(arg x) -y $(arg y) -z $(arg z)"/>
</launch>